*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-size: ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .navbar{
    display: flex;    
    padding: 10px ;
    border-bottom: 1px solid rgb(35, 32, 32);
    justify-content: space-between;
    align-items: center;
    align-content: center;

}
 .nav-link{
    display: flex;
     gap: 30px;
}

.nav{
    padding-top: 10px;
}

.nav-link li{
    list-style: none;
}
.nav-link a{
    text-decoration: none;
    color: black;
}


.btn{
    border-radius: 15px ;
    padding: 12px 16px;
    border: none;
    background-color: rgb(167, 167, 253);
}
.m-logo{
    display: flex;

}


.logo{
    width: 20px;
    margin: 0 10px 0 0 ;
}
main{
 
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-c{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.img-c img{
       margin-top: 10px;
    width: 899px;
    height: 420px;
    border-radius: 5px;
}
.imgbg{
    position: absolute;
    display: flex;
    color: white;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    top: calc(50% - 70px);
    left: calc(50% - 420px);
}

.top-footer{
    display: flex;
        padding: 30px 20px;
      justify-content: center;
}
.top-footer ul{
    list-style: none;
}
.footer_links{
    display: flex;
gap: 150px;}

.top-footer{ display: flex;
}
.footer_links a{
    text-decoration: none;
    color: black;
}

.top-footer  p{
    color: rgb(183, 123, 18);

}
.copyright{
    text-align: center;
    padding: 16px 20px;
}
.about-content{
    margin-top: 20px;
}
.About{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-services{
    justify-content: space-between;
    display: flex;
}
.services h2{
    margin-bottom: 20px;
}

.box-services img{
    width: 320px;
    height: 171px;
    border-radius: 12px;
}





